.buscar{
    width: 80%;
    border-radius: 20px;
    height: 2vw;
    padding: 4px 20px;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5%;
}

.detalhes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.livro{
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}

.acoes{
    display: flex;
    justify-content: flex-end;
    gap: 1%;
    padding: 8px 20px;
}